
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}



.active{
    border-bottom: 1px solid rgb(126, 5, 5);
}

.scrolling-active{
    background:rgba(0, 0, 0, 0.75);
}

/*Navbar styles */
 
nav{
    position:fixed;
    z-index: 3;
}

.navbar-brand img{
    margin-left:25px;
    width: 50px;
    height: 50px;
}

.nav-item{
    margin-right:20px;
    font-size:0.9rem;
    
}

.nav-item a{
    text-align: center;
    color:white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    width: 90px;
    margin:auto;
}

.nav-item a:hover{
    color:rgb(126, 5, 5);
}

.navbar .navbar-collapse {
    text-align: center;
}

.resume-btn{
    border:1px solid rgb(126, 5, 5);
    border-radius: 10%;
}




/* Hero page styles */

#hero{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    background: url("images/city.jpg") no-repeat center center/cover;
    position:relative;
    z-index: 2;
}

#hero::before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.8);
  z-index:0;
}

#hero-content{
    position:relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width:100%;
    height:100%;
    color:white;
    z-index: 2;
}

#hero-content #socialspan{
    color:white;
    margin-top: 50px;
}

#hero-content #socialspan .social-btns{
    color:white;
    text-decoration: none;
    margin: 0 40px;
}

#hero-content #socialspan .social-btns:hover{
    color:rgb(126, 5, 5);
    transition: all 0.2s ease-in-out
}

#hero-content h1{
    font-size: 1.9rem;
}

#hero-content h1 .hi span{
    color:rgb(126, 5, 5);
}

#down-btn{
    text-align: center;
}

#down-btn i{
    color:rgb(126, 5, 5);
    z-index: 2;
    padding-bottom: 25px;
}

/* About section styles */

#about{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    min-height: 55vh;
    overflow: hidden;
    background: #E8E6E6;
}

#about #desc{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height:20%;
}

#about #desc h2{
    margin:auto;
    font-size: 2rem;
    padding-top: 45px;
}

#about #desc h2 span{
    color:rgb(126, 5, 5);
}

#about #desc p{
    margin:auto;
    font-size: 1.1rem;
    padding: 40px 80px;
}

#about #skills{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height:80%;
}

#about #skills #skillsimgs{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#about #skills #skillsimgs .skillimg{
    width: 120px;
    height:120px;
    margin: 25px 50px;
}


[data-scroll] {
    transition: transform 1.7s;
}

[data-scroll="in"] {
    transform: translateY(0);
}

[data-scroll="out"]{
    transform: translateY(60px);
}

/* Project section styles */

#projects{
    width:100%;
    min-height: 100vh;
    background: url('images/projects-bg.png') center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#projects h3{
    margin-top: 25px;
    color:rgb(126, 5, 5);
    font-size: 2rem;
    text-align: center;
    opacity: 0;
}

#projects #projectcardsection{
    width: 70%;
    height:90%;
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    align-self: center;
}

#projects #projectcardsection .card{
    margin: 35px 8px;
    background: rgb(126, 5, 5);
    color:white;
    -webkit-box-shadow: 6px 7px 15px -8px #bbbbbb; 
    box-shadow: 6px 7px 15px -8px #bbbbbb;
    text-align: center;
    width: 22rem;
}

.card-body{
    background: rgb(126, 5, 5);
}

.card-img-top{
    height:200px;
    width: 450px;
    background:none;
}

.img-link:hover{
    filter: brightness(0.6);
}

.card-link{
    text-decoration: none;
    color:white;
    border: 1px solid black;
    padding: 5px 8px;
    border-radius: 15%;
}

.card-link:hover{
    color:white;
    background:rgb(109, 4, 4);
}

/* Contact Section Styles */

#contact{
    width:100%;
    min-height: 100vh;
    background: url("images/contact.png") center center/cover no-repeat;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#contact #contact-form{
    z-index:1;
    width:40%;
    height: 85%;
    background: black;
    color:white;
    margin: 20px 0;
    padding: 50px 0;
    border-radius: 10px;
}

#contact-form h3{
    font-size:0.01rem;
    opacity: 0;
}

#contact-form h3 span{
    color:rgb(126, 5, 5);
}

#contact-form label{
    padding: 10px 0;
    font-size: 1.2rem;
}

#contact-form input{
    padding: 5px; 
    width: 400px;
    font-size: 1rem;
}

#contact-form textarea{
    padding: 5px;
    padding-bottom: 10px;
    width:400px;
    height: 200px;
    font-size: 1rem;
}

#contact-info{
    width:40%;
    height: 15%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.contact-btns{
    color: rgb(126, 5, 5);
    padding: 0 35px;
}

.contact-btns:hover{
    color:rgb(110, 5, 5);
}

#email-btn{
    padding-right: 5px;
}

#contact-info p span{
    font-size: 0.95rem;
}

#submit{
    background:rgb(126, 5, 5);
    color:white;
    border-radius: 5px;
    padding: 5px 10px;
}

#submit:hover{
    background:rgb(109, 4, 4);
}

#email-link{
    text-decoration: none;
    color:black;
}

#email-link:hover{
    color:rgba(0, 0, 0, 0.548);
}

/* Footer Section Styles */

footer{
    font-family: 'Lato', sans-serif;
    color:white;
    min-height:250px;
    width:100%;
    text-align: center;
    background: black;
    padding: 110px 0 35px 0;
    border-top: 1px solid rgba(97, 96, 96, 0.288);
}

footer i{
    padding: 0 15px;
}

footer hr{
    border: 0.4px solid white;
    width:90%;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

footer p{
    padding: 5px 10px;
    font-size: 0.8rem;
}

/* Media Queries */

@media screen and (max-width: 1460px){
    #projects h3{
        opacity: 1;
    }

    #contact-form h3{
        opacity: 1;
        margin: 15px 0;
        font-size: 2rem;
    }
}

@media screen and (max-width: 1213px){
    #contact #contact-form{
        width:500px;
    }

    .contact-btns{
        padding:0 15px;
    }

    #contact-info{
        width: 500px;
    }

    #contact-info p span{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 635px){

    #contact h3{
        font-size:1.5rem;
    }

    #contact #contact-form{
        width: 95%;
    }

    #contact #contact-form label{
        font-size: 0.8rem;
    }

    #contact-form input{
        width: 92%;
        font-size: 0.7rem;
    }

    #contact-form textarea{
        width:92%;
        font-size: 0.7rem;
    }

    #contact-info p span{
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 512px){

    /* Hero Section */

    #hero-content h1{
        font-size: 1.1rem;
    }

    #hero-content #socialspan .social-btns{
        margin: 0 25px;
    }

    /* About Section */
    #about #desc p{
        font-size: 1rem;
        padding: 20px 40px;
    }

    #about #skills #skillsimgs .skillimg{
        width: 40px;
        height:40px;
        margin: 25px 50px;
    }

}

@media screen and (max-width: 500px){
    #projects #projectcardsection{
        width:100%; 
        height:85%;
    }
    #projects #projectcardsection .card{
       margin: 16px 5px;
       width: 90%;
    }
}

@media screen and (max-width: 368px){

    /* About Section */


    #about #desc p{
        font-size: 0.7rem;
        padding: 20px 20px;
    }

    .card-img-top{
        height:170px;
    }

}

